/* contact us page  */
#left-col {
    width: 60%;
    float: left;
    background-color: white;
    padding-right: 10%;
   
}

#right-col {
    padding-top: 20px;
}

.gallery-img {
    width: 100%;
}