body{

    background-color: lightgray;
}

header{

    background-color: purple;
    border: 10px 10px;  
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

h1{
    font-size: 36pt;
}

h3{
    font-size: 36pt;
}

p{
    font-size: 36pt;
}

main,aside,header{
    border: 2.5px solid blue;
    background-color: white
    
}

aside{
    border: 2.5px solid purple;
    background-color: gray;
    margin: 250px;
}

footer{
    
    background-color: purple;
}

nav li{
    border: 2.5px black;
    background-color: purple;
    list-style-type: none;

}

nav li a{
    color: white;
    text-align: center;
    text-decoration: none ;
}

nav li :hover{
    background-color: blue;


}

.active{
    background-color: lightskyblue;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;

    text-align: center;
}

table td,table th{
    border: 2px solid #f0f0f0;

}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover{
    background-color: rgba(141, 28, 141, 0.681);
}

table th{
    background-color: purple;
    color: white;
}