/* image gallery */
#img-gallery {
    padding: 10px;
}

#img-gallery .row {
    margin-bottom: 10px;
}

#Members {
    padding: 10px;
    margin-bottom: 10px;
}


#log_in {
    text-align: right;

}

.img_cap {
    color: white;
    text-shadow: 2px 2px black;
}