body {

    background-color: lightgray;
}

header {
    margin: 10px;
    background-color: purple;
    border: 10px 10px;

    padding: 10px;
}


#logo {
    max-width: 50px;
    max-height: 50px;
    float: left;
    margin-right: 10px;
}

#title {
    display: inline;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

h1 {
    font-size: 36pt;
}

h3 {
    font-size: 24pt;
}

p {
    font-size: 14pt;
}

main {
    margin: 10px;
    border: 2.5px solid purple;
    background-color: white
}

aside {
    margin: 10px;
    border: 2.5px solid purple;
    background-color: gray;
    margin: 250px;
}

footer {
    margin: 10px;
    background-color: purple;
}

nav li {
    border: 2px solid white;
    background-color: purple;
    list-style-type: none;

    float: left;
    width: 12.5%;
    padding: 16px;
    position: sticky;

}

nav li a {
    color: white;
    text-align: center;
    text-decoration: none;

}

nav li :hover {
    background-color: black;


}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.active {
    background-color: lightskyblue;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;

    text-align: center;
}

table td,
table th {
    border: 2px solid #f0f0f0;

}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: rgba(141, 28, 141, 0.681);
}

table th {
    background-color: purple;
    color: white;
}

fieldset {
    width: auto;
}

#left-col {
    width: 60%;
    float: left;
    background-color: white;
}

#right-col {
    padding-top: 20px;
}

.gallery-img {
    width: 100%;
}

#img-gallery {
    padding: 10px;
}

#img-gallery .row {
    margin-bottom: 10px;
}

#Members {
    padding: 10px;
    margin-bottom: 10px;
}


#log_in {
    text-align: right;

}

.img_cap {
    color: white;
    text-shadow: 2px 2px black;
}